<div class="container-fluid p-2">
  <div class="row justify-content-md-center">
    <div class="col-md-6 py-4 px-2 border">
      <h3 class="bg-light p-2">Details</h3>
      <table class="table">
        <tr> <td> Device id:</td> <td>{{device.device_id}}</td> </tr>
        <tr> <td> Device name:</td> <td>{{device.device_name}}</td> </tr>
        <tr> <td> Purchase date:</td> <td>{{device.purchase_date}}</td> </tr>
        <tr> <td> Rent end date:</td> <td>{{device.end_date}}</td> </tr>
        <tr> <td> Device value:</td> <td>{{device.device_value}} <strong>$</strong></td> </tr>
        <tr> <td> Last modifier:</td> <td>{{device.last_mofifier_plain}}</td> </tr>
        <tr> <td> Last modify:</td> <td>{{device.last_modify}}</td> </tr>
        <tr> <td> Current tenant:</td> <td>{{device.current_owner_plain}}</td> </tr>
      </table>

      <div class="d-flex">
        <span class="flex-grow-1"></span>
        <button class="flex-grow-0 btn btn-light px-3" (click)="handleBack()">🔙</button>
      </div>

    </div>
  </div>
</div>

